apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: visit-counter
type: Opaque
data:
  DB_HOST: <base64-encoded-rds-endpoint>
  DB_USER: <base64-encoded-username>
  DB_PASSWORD: <base64-encoded-password>
  DB_NAME: <base64-encoded-database-name>